<div class="request_table">
  <table style="float: left">
    <tr>
      <th>PID</th>
      <th>+RSS (MB)</th>
      <th>Memory Use (MB)</th>
      <th>Request</th>
      <th>Active Record Instantiations</th>
    </tr>
    <% @requests.each do |request| %>
    <tr>
      <td><a data-toggle="modal" href="#pid<%= request.process.pid %>"><%= request.process.pid %></a></td>
      <td><%= sprintf('%.1f', request.bloat/1024.0) %></td>
      <td><%= '<' if request.bloat < 1 %><%= sprintf('%.1f', request.memory_used/1024.0) %></td>
      <td><div style="width: 320px; overflow: hidden; white-space: nowrap"><%= request.resource.path %></div></td>
      <td class="record_breakdown">
	<a href="#"><%= request.record_count %></a>
	<div class="record_breakdown" style="display: none">
	  <br />
	  <table>
	    <% request.records.each do |record_count| %>
	    <tr><td><%= record_count.split(': ')[0] %></td><td><%= record_count.split(': ')[1] %></td></tr>
	    <% end %>
	  </table>
	</div>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="record_breakdown_display" style="text-align: left"></div>
  <div style="clear:both"></div>
</div>
